:root {
  --gutter: 15px;
  --double-gutter: 30px;
}

.container {
  padding: var(--gutter) var(--double-gutter) var(--gutter) 0;
  flex: none;
}

/* The first two elements, "Everything" and "Pinned", are special */
.container > :nth-child(2) {
  margin-bottom: 10px;
}
