:root {
  --double-gutter: 30px;
  --grey-text: #bbb;
  --light-grey: #e6e6e6;
}

.empty {
  composes: container from "./package-item.css";
  color: var(--grey-text);
  flex: 1;
  font-size: 15px;
  line-height: 100%;
  padding-bottom: var(--double-gutter);
  padding-top: var(--double-gutter);
  text-align: center;
}
