:root {
  --double-gutter: 30px;
  --light-grey: #e6e6e6;
  --deep-blue: #4b67a5;
  --grey: #b1b1b1;
}

.header {
  border-bottom: 1px solid var(--light-grey);
  display: flex;
  align-items: baseline;
  margin-bottom: var(--double-gutter);
}

.headerTitle {
  flex: 1;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.name,
.metadata {
  padding-right: 3px;
}

.name {
  font-size: 16px;
  font-weight: 500;
}

.filedUnder {
  color: var(--grey);
  font-size: 14px;
  font-weight: 300;
}

.externalLink {
  border: 1px solid var(--light-grey);
  border-bottom: none;
  color: var(--deep-blue);
  flex: none;
  font-size: 15px;
  margin-left: 5px;
  padding: 8px 12px;
  text-decoration: none;

  svg {
    margin-left: 3px;
  }
}

.content {
  user-select: text;
}
