:root {
  --light-grey: #e6e6e6;
  --grey: #b1b1b1;
  --dark-grey: #969896;
  --dark-yellow: #e7a800;
  --deep-blue: #4b67a5;
  --purple: #7b79a6;
  --green: #22b490;
  --gutter: 15px;
}

.container {
  background-size: 100% 100%;
  border-bottom: 1px solid var(--light-grey);
  font-size: 14.5px;

  /* Done here instead of the container, so it be displayed on the left of the
   * vertical scrollbar, even in firefox that doesn't support custom scrollbars */
  border-right: 1px solid var(--light-grey);
  margin-right: -1px;
}

.link {
  display: block;
  padding: var(--gutter);
  text-decoration: none;
  color: inherit;
}

.name,
.metadata {
  padding-right: 3px;
}

.name {
  font-weight: 500;
  font-size: 16px;
}

.filedUnder {
  composes: filedUnder from "./package-readme.css";
  padding-bottom: 4px;
}

.header {
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.body {
  padding: 4px 0;
  line-height: 20px;
}

.stars,
.downloads {
  color: var(--dark-grey);
  padding-right: 6px;
}

.coloredStars {
  color: var(--dark-yellow);
}

.coloredDownloads {
  color: var(--deep-blue);
}

.filters {
  color: var(--green);
  padding-left: 6px;
}

.visited {
  color: #fff;
  font-style: italic;
}

.link:visited .visited {
  color: var(--purple);
}

.slash {
  font-weight: 300;
}

.filterWarning {
  color: var(--grey);
  display: block;
  font-weight: 300;
  font-size: 14px;
  margin: 0 var(--gutter) 5px;
  text-decoration: none;
}

.filtered {
  padding-top: var(--gutter);

  .link {
    padding-top: 0;
    opacity: 0.5;
  }
}

/* NOTE: Make sure the media query matches the one defined in other files */
@media (max-width: 519px) {
  .link { padding-left: 0 }
}
