:root {
  --light-grey: #e6e6e6;
  --gutter: 15px;
  --double-gutter: 30px;
  --loading-opacity: 0.5;
}

.container,
.master {
  position: relative;
}

.sidebar {
  border-right: 1px solid var(--light-grey);
  line-height: 25px;
}

.sidebarSections {
  border-top: 1px solid;
}

.loading a {
  opacity: var(--loading-opacity);
}

.list,
.emptyList {
  /* Done here instead of the container, so it be displayed on the left of the
   * vertical scrollbar, even in firefox that doesn't support custom scrollbars */
  border-right: 1px solid var(--light-grey);
  flex: 1;
}

.emptyList {
  display: flex;
  flex-direction: column;
}
