:root {
  --gutter: 15px;
  --double-gutter: 30px;
  --loading-opacity: 0.5;
}

.container {
  padding: var(--double-gutter);
  padding-top: var(--gutter);
  position: relative;
}

.loading > div:first-child {
  opacity: var(--loading-opacity);
}
