:root {
  --gutter: 15px;
  --light-grey: #e6e6e6;
}

.container {
  display: flex;

  /* Done here instead of the container, so it be displayed on the left of the
   * vertical scrollbar, even in firefox that doesn't support custom scrollbars */
  border-right: 1px solid var(--light-grey);
  margin-right: -1px;
}

.link {
  padding: var(--gutter);
  text-decoration: none;
  flex: 1;
  text-align: center;
  color: inherit;
}

.isDisabled {
  color: var(--light-grey);
}
