:root {
  --half-gutter: 8px;
  --gutter: 15px;
  --font-sans: Roboto, sans-serif;
}

.container {
  background: #000;
  border-radius: 3px;
  cursor: default;
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: 400;
  margin: var(--gutter);
  padding: var(--half-gutter);
  position: absolute;
  right: 0;
  text-transform: none;
  z-index: 9000;
}

.option {
  display: block;
  text-decoration: none;
  margin: var(--half-gutter);
  padding: 2px;
  color: #fff;
}
