.container {
  composes: main from "./layout/topbar.css";
  height: 100%;
  text-align: center;
}

.input {
  border: none;
  font-size: 16PX; /* To prevent zoom in mobile devices */
  font-weight: 500;
  height: 100%;
  line-height: 21PX; /* Prevents emoji from being cut */
  outline: none !important;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  /* Align text cursor exactly with the scrollbar below */
  padding: 0 4px 0 58px;
}

.input::placeholder {
  color: #000;
}

.input:focus::placeholder {
  color: transparent;
}

/* NOTE: Make sure the media query matches the one defined in other files */
@media (max-width: 519px) {
  .input { padding-left: 4px }
}
