:root {
  --gutter: 15px;
}

.container {
  background: #000;
  border-radius: 3px;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  font-size: 14PX;
  left: 0;
  line-height: 20PX;
  margin: var(--gutter);
  padding: var(--gutter);
  position: absolute;
}

.container a {
  color: inherit;
}
