:root {
  --double-gutter: 30px;
  --light-grey: #e6e6e6;
  --yellow: #fcc03b;
  --font-sans: Roboto, sans-serif;
  --grey-text: #bbb;
}

/* NOTE: Make sure the horizontal padding matches `package-details.css` so
 * the width is the same when welcome page and package details are shown */
.container {
  padding: 35px var(--double-gutter);
}

.content {
  user-select: text;
  max-width: 595px;
  margin: 0 auto;

  /* Make room for the ad */
  margin-bottom: 125PX;
}

/* Reset background added to readmes because of badges loading */
.content img {
  background: transparent;
}

/* More styles specific to our current welcome page */
.content :global {
  font-size: 16px;
  padding: 0 11px;

  .jess {
    width: 190px;
    height: 190px;
    background: var(--light-grey);
    border-radius: 100px;
  }
  .hero {
    color: var(--grey-text);
    font-weight: 300;
    text-align: center;
  }
  .intro,
  .welcomeIntro {
    border: none;
    font-weight: 300;
    line-height: 35px;
    margin: 30px auto 25px;
    text-align: center;
  }
  .welcomeIntro {
    max-width: 400px;
    margin-top: 40px;
  }
  .more {
    padding-left: 1.2em;
  }
  p {
    margin-bottom: 20px;
  }
  .levelup {
    display: flex;
  }
  .levelup input {
    background: #fff;
    border: 1px solid var(--light-grey);
    font-family: var(--font-sans);
    font-size: 16px;
    min-height: 38px;
  }
  .levelup input[type=email] {
    flex: 1;
    padding: 0 10px;
    text-align: center;
  }
  .levelup input[type=submit] {
    border-left: none;
    padding: 0 20px;
  }
}
