/* The body has a sidebar with fixed width and a master and details
 * panels that evenly take the rest of the space */

.container {
  composes: body from "./layout.css";
  display: flex;
  flex-direction: row;

  /* Enable children to have vertical scrollbar in firefox */
  min-height: 0;
}

.sidebar {
  flex: none;
}

.master,
.details {
  flex: 1;

  /* Fix bug with misplaced scrollbar on chrome */
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
