:root {
  --light-grey: #e6e6e6;
}

.container {
  composes: details from "./body.css";
  border-right: 1px solid var(--light-grey);
}

/* NOTE: Make sure the media query matches the one defined in other files */
@media (max-width: 519px) {
  .container { display: none }
}
