/* The layout contains a topbar with fixed height and a body that
 * fills the rest of the screen */

.container {
  display: flex;
  flex-direction: column;
}

.topbar {
  flex: none;
}

.body {
  flex: 1;
}
