:root {
  --gutter: 15px;
  --light-grey: #e6e6e6;
}

.container {
  composes: sections from "./sidebar.css";
  padding-top: var(--gutter);
  font-size: 14px;
}

/* Since this scrollbar does not contain a border
 * (contrarily to master), remove 1px from its size */
.container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.section {
  padding: var(--gutter) 0;
  white-space: nowrap;
}

.header {
  font-weight: 400;
}

.content {
  font-weight: 300;
  list-style: none;
  margin: 0;
  padding: 0;
}

.square,
.circle {
  text-decoration: none;
  color: inherit;
}

.square:before,
.circle:before {
  content: " ";
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 1px solid var(--light-grey);
  margin-bottom: 2px;
  margin-right: 6px;
  vertical-align: middle;
}

.isActive:before {
  background: var(--light-grey);
}

.circle:before {
  border-radius: 7px;
}
