/* The sidebar can have any kind of content, which will be displayed
 * with fixed height, and a "sections" element that will take the
 * rest of the available space, which is scrollable */

.container {
  composes: sidebar from "./body.css";
  display: flex;
  flex-direction: column;
}

.sections {
  flex: 1;
  overflow-y: auto;
}

/* NOTE: Make sure the media query matches the one defined in other files */
@media (max-width: 519px) {
  .container { display: none }
}
